# IDEs project files
.idea
nbproject
.buildpath
.project
.settings

# exclude everything
configs/*
logs/*
scripts/*
# exception to the rule
!configs/.gitkeep
!logs/.gitkeep
!scripts/.gitkeep

#builded binary executions
hookexec
hookexec.exe